# Auto detect text files and perform LF normalization
* text=auto
<!DOCTYPE html>
<html>
<head>
    <title> Novus Actus Paralegal services</title>
  </head>
  <body>
    <h1> hey i am a doc </h1>
    <a href="https://www.google.com" target= "blank" title="takes you to google">
    Click me for google </a>
    <img src="https://d2z58dca51ori0.cloudfront.net/2c8c9ecd-d551-4a72-8b50-ead3065a3169.png">
  </body>
  </html>
