# Auto detect text files and perform LF normalization
* text=auto
<h1> hey i am a doc </h1>
<a href="https://www.google.com" target= "blank" title="takes you to google">
  Click me for google </a>
  
